#blue-square {
    background-color: #89C8EB;
    width: 700px;
    height: 700px;
    position: relative;
    z-index: 5;
    margin-left: 20px;
    margin-bottom: 20px;
}

#grey-square {
    background-color: #C2C1BD;
    width: 550px;
    height: 550px;
    position: absolute;
    z-index: 10;
    margin-left: 73px;
    margin-top: 110px;
}

#white-square {
    background-color: #ffffff;
    width: 410px;
    height: 410px;
    position: absolute;
    z-index: 10;
    margin-left: 70px;
    margin-top: 110px;
}

#yellow-square {
    background-color: #FFE210;
    width: 280px;
    height: 280px;
    position: absolute;
    z-index: 10;
    margin-left: 63px;
    margin-top: 93px;
}

/*the second work*/

#black-square {
    background-color: #000000;
    width: 700px;
    height: 700px;
    position: relative;
    z-index: 5;
    margin-left: 20px;
    margin-bottom: 20px;
}

#red-square {
    background-color: #ff0000;
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 5;
    margin-left: 200px;
    margin-top: 0px;
}

#white-rectangle {
    background-color: hsl(0, 0%, 100%);
    width: 410px;
    height: 180px;
    position: absolute;
    z-index: 5;
    margin-left: 0px;
    margin-top: 530px;
}

#cream-rectangle {
    background-color: hwb(37 90% 0%);
    width: 180px;
    height: 300px;
    position: absolute;
    z-index: 5;
    margin-left: 300px;
    margin-top: 0px;
}