#blue-square {
    background-color: #89C8EB;
    width: 700px;
    height: 700px;
    position: relative;
    z-index: 5;
    margin-left: 20px;
    margin-bottom: 20px;
}

#grey-square {
    background-color: #C2C1BD;
    width: 550px;
    height: 550px;
    position: absolute;
    z-index: 10;
    margin-left: 73px;
    margin-top: 110px;
}

#white-square {
    background-color: #ffffff;
    width: 410px;
    height: 410px;
    position: absolute;
    z-index: 10;
    margin-left: 70px;
    margin-top: 110px;
}

#yellow-square {
    background-color: #FFE210;
    width: 280px;
    height: 280px;
    position: absolute;
    z-index: 10;
    margin-left: 63px;
    margin-top: 93px;
}

