body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  background-color: rgb(162, 186, 233);
  text-align: center; 
  margin: 0; 
  padding: 0;
}

.carousel {
  width: 100%;
  overflow: hidden; /* Hides overflow from non-visible slides */
  position: relative;
}

.carousel-track {
  display: flex; /* Arrange the slides horizontally */
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%; /* Each slide takes up full width of the carousel */
  height: auto; /* Adjust height based on content */
}

.carousel-slide img {
  max-width: 100%; /* Ensure the images fit inside the slide */
  height: auto;
  
}

.carousel-nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.nav-dot.active {
  background-color: #333;
}
