body {
    background-color: rgb(12, 12, 96);
  }
  
  h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
  }
  
  p {
    font-family: 'Times New Roman', Times, serif;
    color: white;
  }


  .image-container {
    display: inline-block;
    position: relative;
  }
  
  .image-container img {
    width: 400px; /* Set your preferred width */
    height: auto;
    transition: opacity 0.3s ease-in-out;
    display: block;
  }
  
  .image-container:hover img {
    opacity: 0; /* Hides the original image on hover */
  }
  
  .image-container:hover {
    background-image: url('images_1/cinnapic2.png'); /* Change to the hovered image */
    background-size: cover;
    background-position: center;
    width: 400px; /* Same width as the original image */
    height: auto;
  }
  
  .image-container.img-2:hover {
    background-image: url('images_1/cinnaonslide2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }
  
  .image-container.img-3:hover {
    background-image: url('images_1/tancinna2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-4:hover {
    background-image: url('images_1/cinnabox2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-5:hover {
    background-image: url('images_1/rengoku2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-6:hover {
    background-image: url('images_1/lucina2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }