body {
  background-color: #7facc2;
  position: relative;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  margin-left: 18px; 
}

p {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  margin-left: 22px; 
}

.background-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 440px);
  gap: 0; /* Remove gap between grid items */
  justify-content: center;
  padding: 0;
  width: fit-content; /* Shrink grid to the size of its content */
  margin: 0 auto;
}

/* Control the size of the images */
.background-grid img {
  width: 440px; /* Adjust the size of the images */
  height: 440px; /* Keep images uniform in size */
  object-fit: contain; /* Ensure images maintain their aspect ratio */
  margin: 0; /* Remove any default margin around the images */
  padding: 0; /* Ensure no padding around the images */
  vertical-align: top; /* Remove potential baseline alignment issues */
}

/* Negative margin */
.background-grid img:nth-child(n+4) {
  margin-top: -116px; /* Adjust the value as needed */
}

.overlay-images {
  position: relative; /* Ensure the images are positioned within the page context */
}

.overlay-image {
  position: absolute; /* Allows free placement */
  max-width: 10%; /* Adjust size */
  cursor: pointer; /* Change cursor to pointer to indicate clickability */
}

/* Positioning of overlay images */
.overlay-image:nth-child(1) {
  top: 50px;
  left: 200px;
}

.overlay-image:nth-child(2) {
  top: 300px;
  left: 100px;
}

.overlay-image:nth-child(3) {
  top: 50px;
  right: 50px;
}

.overlay-image:nth-child(4) {
  top: 250px;
  right: 50px;
}

.overlay-image:nth-child(5) {
  top: 150px;
  right: 150px;
}

.overlay-image:nth-child(6) {
  top: 30px;
  right: 100px;
}

.overlay-image:nth-child(7) {
  top: 30px;
  right: 200px;
}


.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 1000;
  border-radius: 10px;
  width: 300px;
}

.popup button {
  margin-top: 10px;
  background-color: #add8e6;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
