body {
  background-color: #091239;
  position: relative;
  margin-top: 80px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(19, 29, 104, 0.5); 
  text-align: left;
  padding: 10px 0;
  z-index: 3;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 18px; 
  text-align: center;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: white;
  margin-left: 22px; 
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between; /* Creates space between two sections */
  margin-top: 20px; /* Adjust as needed */
  height: 400px;
  overflow: hidden; /* Hide overflow */
}

/* Each section takes up equal space and applies animation */
.section-1, .section-2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 48%;
  animation: scroll-up 20s linear infinite; /* Apply scrolling animation */
}

/* Duplicate the image containers for smooth scrolling */
.section-1, .section-2::before {
  content: "";
  display: flex;
  flex-direction: column;
}

.section-1 .image-container,
.section-2 .image-container {
  margin-bottom: 20px;
  width: 100%;
}

.image-container img {
  width: 100%; /* Adjust to fit container */
  height: auto;
  transition: opacity 0.3s ease-in-out;
  display: block;
}

/* Hover effects for images */
.image-container:hover img {
  opacity: 0; /* Hides original pic */
}

/* Set background image on hover */
.image-container:hover {
  background-size: cover;
  background-position: center;
  width: 400px;
  height: auto;
}

/* Hover images for specific containers */
.image-container.img-1:hover {
  background-image: url('images_1/newjeansnewjeans.png');
}
.image-container.img-2:hover {
  background-image: url('images_1/nwjns_weverse2.png');
}
.image-container.img-3:hover {
  background-image: url('images_1/getup2.png');
}
.image-container.img-4:hover {
  background-image: url('images_1/omgditto2.png');
}
.image-container.img-5:hover {
  background-image: url('images_1/dittoweverse2.png');
}
.image-container.img-6:hover {
  background-image: url('images_1/supernatural2.png');
}
.image-container.img-7:hover {
  background-image: url('images_1/howsweet.png');
}
.image-container.img-8:hover {
  background-image: url('images_1/maxident2.png');
}
.image-container.img-9:hover {
  background-image: url('images_1/fivestar2.png');
}
.image-container.img-10:hover {
  background-image: url('images_1/rockstar2.png');
}
.image-container.img-11:hover {
  background-image: url('images_1/rockstarhan2.png');
}
.image-container.img-12:hover {
  background-image: url('images_1/rockstarroll2.png');
}

/* Keyframes for vertical scrolling */
@keyframes scroll-up {
  0% {
    transform: translateY(0); /* Start at the top */
  }
  100% {
    transform: translateY(-1300%); /* Move the section up by two times its height */
  }
}
