body {
  background-color: #66bce0;
  position: relative;
  margin-top: 80px;
  font-family: 'Poppins', sans-serif;
}

nav {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  padding: 10px 0;
  z-index: 3; 
  display: flex;
  align-items: center;
}

nav a {
  color: #E42693;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  transition: transform 0.3s ease, color 0.3s ease; 
}

nav a:hover {
  transform: scale(1.2); 
  color: #0a5986;
}

.home-btn {
  color: #E42693;
  margin-right: 15px;
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: rgb(228, 38, 147, 0.5);
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(203, 6, 115, 0.9);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-family: 'Poppins', sans-serif;
}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  color: #CB0673;
  font-size: 30px;
  position: fixed; /* Fix position relative to the viewport */
  top: 4%;
  left: 85%; 
  margin: 0; /* Remove unnecessary margins */
  text-align: right;
  z-index: 2; /* Ensure it's above other content */
}

h2 {
  color: #CB0673;
  font-size: 73px;
  position: fixed;
  top: 7%; 
  left: 85%; 
  margin: 0; /* Remove unnecessary margins */
  text-align: right;
  z-index: 2; /* Ensure it's above other content */
}

h3 {
  color: #CB0673;
  font-size: 87px;
  position: fixed;
  top: 5%; 
  left: 1.5%; 
  margin: 0; 
  text-align: left;
  z-index: 2; */
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #E42693;
  margin-left: 22px; 
  text-align: center;
}

.background-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 440px);
  gap: 0; 
  justify-content: center;
  padding: 0;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.background-grid img {
  width: 440px; 
  height: 440px;
  object-fit: contain; 
  margin: 0; 
  padding: 0; 
  position: relative;
  z-index: 0;
}

/* negative margin */
.background-grid img:nth-child(n+4) {
  margin-top: -116px; 
}

.overlay-image {
  position: absolute;
  width: 150px; /* Fixed size */
  height: auto; 
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease;
}

.overlay-image:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px 5px rgb(203, 6, 115, 0.8);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.overlay-image:nth-child(1) { 
  top: 110px;
  left: 250px;
  width: 250px; 
}

.overlay-image:nth-child(2) {
  top: 150px;
  left: 540px;
  width: 340px; 
}

.overlay-image:nth-child(3) {
  top: 84px;
  left: 940px;
  width: 260px; 
}

.overlay-image:nth-child(4) {
  top: 380px;
  left: 1150px;
  width: 170px; 
}

.overlay-image:nth-child(5) {
  top: 90px;
  left: 80px;
  width: 140px; 
}

.overlay-image:nth-child(6) {
  top: 485px;
  left: 880px;
  width: 230px; 
}

.overlay-image:nth-child(7) {
  top: 340px;
  left: 93px;
  width: 180px;
}

.overlay-image:nth-child(8) {
  top: 460px;
  left: 330px;
  width: 225px; 
}

.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 1000;
  border-radius: 10px;
  width: 300px;
}

.popup button {
  margin-top: 10px;
  background-color: #add8e6;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  margin-bottom: 200px;
}