body {
    background-color: rgb(12, 12, 96);
    font-family: 'Poppins', sans-serif;
    margin-top: 60px;
  }
  
  h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-left: 18px; 
  }
  
  p {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-left: 22px; 
  }


  .image-container {
    display: inline-block;
    position: relative;
  }
  
  .image-container img {
    width: 400px; /* Set width */
    height: auto;
    transition: opacity 0.3s ease-in-out;
    display: block;
  }
  
  .image-container:hover img {
    opacity: 0; /* Hides original pic */
  }
  
  .image-container:hover {
    background-image: url('images_1/cinnapic2.png'); /* hovered image */
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }
  
  .image-container.img-2:hover {
    background-image: url('images_1/cinnaonslide2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }
  
  .image-container.img-3:hover {
    background-image: url('images_1/tancinna2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-4:hover {
    background-image: url('images_1/cinnabox2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-5:hover {
    background-image: url('images_1/rengoku2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-6:hover {
    background-image: url('images_1/lucina2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-7:hover {
    background-image: url('images_1/peridot2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-8:hover {
    background-image: url('images_1/yor2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-9:hover {
    background-image: url('images_1/eve.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-10:hover {
    background-image: url('images_1/aki2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-11:hover {
    background-image: url('images_1/walle2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-12:hover {
    background-image: url('images_1/blake2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-13:hover {
    background-image: url('images_1/kirby2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-14:hover {
    background-image: url('images_1/darkknight2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-15:hover {
    background-image: url('images_1/whaleshark2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-16:hover {
    background-image: url('images_1/gard2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-17:hover {
    background-image: url('images_1/venti2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-18:hover {
    background-image: url('images_1/kokomi22.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  .image-container.img-19:hover {
    background-image: url('images_1/kazuha2.png'); 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
  }

  nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 10px 0;
    z-index: 3; 
    display: flex;
    align-items: center;
  }
  
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease, color 0.3s ease; 
  }
  
  nav a:hover {
    transform: scale(1.2); 
    color: #FFD700;
  }
  
  .home-btn {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: rgba(19, 29, 104, 0.5);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(47, 74, 149, 0.9);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-family: 'Poppins', sans-serif;
  }
  
  .dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }