body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  background-color: rgb(162, 186, 233);
  text-align: center; 
  margin: 0; 
  padding: 0;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.nav-dot.active {
  background-color: #333;
}
