body {
  background-color: rgb(61, 74, 147);
  font-family: 'Poppins', sans-serif;
  margin-top: 60px;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  position: fixed; 
  top: 4%;
  left: 85%; 
  margin: 0; 
  text-align: right;
  z-index: 2; 
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 65px;
  position: fixed;
  top: 7%; 
  left: 85%; 
  margin: 0; 
  text-align: right;
  z-index: 2; 
}

h3 {
  color: rgb(255, 255, 255);
  font-size: 87px;
  position: fixed;
  top: 5%; 
  left: 1.5%; 
  margin: 0; 
  text-align: left;
  z-index: 2; */
}

p {
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-left: 22px; 
}


.image-container {
  display: inline-block;
  position: relative;
}

.image-container img {
  width: 400px; /* Set width */
  height: auto;
  transition: opacity 0.3s ease-in-out;
  display: block;
}

.image-container:hover img {
  opacity: 0; /* Hides original pic */
}

.image-container:hover {
  background-image: url('images_1/amongus2.png'); /* hovered image */
  background-size: cover;
  background-position: center;
  width: 400px;
  height: auto;
}

.image-container.img-2:hover {
  background-image: url('images_1/anya2.png'); 
  background-size: cover;
  background-position: center;
  width: 400px;
  height: auto;
}

.image-container.img-3:hover {
  background-image: url('images_1/blueberry2.png'); 
  background-size: cover;
  background-position: center;
  width: 400px;
  height: auto;
}

.image-container.img-4:hover {
  background-image: url('images_1/bunnyplush2.png'); 
  background-size: cover;
  background-position: center;
  width: 400px;
  height: auto;
}

.image-container.img-5:hover {
  background-image: url('images_1/crow2.png'); 
  background-size: cover;
  background-position: center;
  width: 400px;
  height: auto;
}

.image-container.img-6:hover {
  background-image: url('images_1/dogo2.png'); 
  background-size: cover;
  background-position: center;
  width: 400px;
  height: auto;
}

.image-container.img-7:hover {
  background-image: url('images_1/gradplush2.png'); 
  background-size: cover;
  background-position: center;
  width: 400px;
  height: auto;
}

.image-container.img-8:hover {
  background-image: url('images_1/kenma2.png'); 
  background-size: cover;
  background-position: center;
  width: 400px;
  height: auto;
}

.image-container.img-9:hover {
  background-image: url('images_1/kirbyplush2.png'); 
  background-size: cover;
  background-position: center;
  width: 400px;
  height: auto;
}

.image-container.img-10:hover {
  background-image: url('images_1/lopsidedcin2.png'); 
  background-size: cover;
  background-position: center;
  width: 400px;
  height: auto;
}

.image-container.img-11:hover {
  background-image: url('images_1/mong2.png'); 
  background-size: cover;
  background-position: center;
  width: 400px;
  height: auto;
}

nav {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  padding: 10px 0;
  z-index: 3; 
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  transition: transform 0.3s ease, color 0.3s ease; 
}

nav a:hover {
  transform: scale(1.2); 
  color: #FFD700;
}

.home-btn {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: rgba(19, 29, 104, 0.5);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(47, 74, 149, 0.9);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-family: 'Poppins', sans-serif;
}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown:hover .dropdown-content {
  display: block;
}