body {
  background-color: #091239;
  position: relative;
  margin-top: 80px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(19, 29, 104, 0.5); 
  text-align: left;
  padding: 10px 0;
  z-index: 3;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 18px;
  text-align: center;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: white;
  margin-left: 22px;
  text-align: center;
}

/* Full-screen container */
.container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  margin: 0 auto; /* Auto margins for centering */
  height: 100vh; /* Full height of viewport */
  width: 100%; /* Full width of viewport */
  overflow: hidden;
}

/* Full-height sections */
.section-1, .section-2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 48%; /* Adjust width for each section */
  height: 100%; /* Each section takes full height */
  animation: scroll-up 20s linear infinite;
}

.section-1 .image-container,
.section-2 .image-container {
  margin-bottom: 20px;
  width: 100%;
}

/* Increase image size proportionally */
.image-container img {
  width: 100%; /* Image takes full width of container */
  height: auto; /* Adjust height to maintain aspect ratio */
  transition: opacity 0.3s ease-in-out;
  display: block;
}

/* Hover effects */
.image-container:hover img {
  opacity: 0; /* Hides original pic */
}

/* Set background image on hover */
.image-container:hover {
  background-size: cover;
  background-position: center;
  width: 100%; /* Fill the entire width */
  height: 100%; /* Fill the height as well */
}

/* Keyframes for smooth scrolling */
@keyframes scroll-up {
  0% {
    transform: translateY(0); /* Start at the top */
  }
  100% {
    transform: translateY(-800%); /* Move the entire section up by one full section height */
  }
}
